body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

div.green {
    background-color: green;
    color: white;
}

div.yellow {
    background-color: yellow;
    color: black;
}

div.orange {
    background-color: orange;
    color: black;
}

div.red {
    background-color: red;
    color: white;
}

div.unknown {
    background-color: black;
    color: white;
}

div.header {
	font-weight: bold;
	padding-bottom: 3px;

	margin-bottom: 6px;
	border-style: solid;
	border-width: 1px;
	border-right: none;
	border-left: none;
	border-top: none;
}

div.block {
    margin: 10px;
    padding: 5px;
    float: left;
    min-width: 20%;
}

.longtext {
	font-size: 80%;
}

div.server {
    border-style: dashed;
    border-width: 1px;
}

div.parts {
    border-style: dashed;
    border-width: 1px;
	float: left;
	padding: 3px;
	font-size: 60%;
	margin-right: 5px;
}

div.error {
    background-color: red;
    color: white;
    
	font-size: 200%;
	margin: 100px;
	padding: 50px;
	border-style: dashed;
    border-width: 3px;
}